body {
  background: white; /*rgb(17,102,126);*/
  /*background: -moz-radial-gradient(circle, rgba(17,102,126,1) 0%, rgba(0,8,81,1) 100%);*/
  font-family: sans-serif;
}

#chatbot-container{
  z-index: 999;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: grayscale(0.8);
}

#chatbot-interface {
  height: 70vh;
  width: 60vw;
  background-color: #cedaf1;
  border-radius: 1rem;
}

#chatbot-header {
  font-weight: 600;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: blue;
  /*background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);*/
  padding: 0.2rem 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#chatbot-chat{
  height: calc(100% - 56.9px - 6rem);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.chatbot-messages {
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: fit-content;
}

.chatbot-received-messages {
  background: blue;/*radial-gradient(ellipse farthest-corner at right bottom, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);*/
  filter: grayscale(0.3);
  border-top-left-radius: 0;
}

.chatbot-sent-messages {
  color: white;
  background-color: #574449;
  border-top-right-radius: 0;
  margin-left: auto;
  margin-right: 0;
}

#chatbot-footer {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#chatbot-input-container{
  width: calc(100%);
}

#chatbot-input {
  width: calc(100% - 2rem);
  padding: 0.5rem;
  color: white;
  background-color: #574449;
  border: 0.1rem solid #574449;
  border-radius: 1rem;
}

#chatbot-input:focus {
  outline-offset: 0 !important;
  outline: none !important;
  /*border: 0.1rem solid #8A6E2F;
  /*box-shadow: 0 0 5px #FDB931 !important;*/
}

#chatbot-new-message-send-button{
  cursor: pointer;
}

#send-icon {
  color: white;
}

#chatbot-open-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #cedaf1;/*radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);*/
  padding: 1rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
}

#chatbot-open-container i{
  padding-top: 0.25rem;
  font-size: 3rem;
  color: #2c2325;
}


/* PopUp */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}