body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* dvh units aren't widely supported yet */
    min-height: 100svh;

    font-family: sans-serif;
}
